<h1>Bookshelf</h1>
<h2>All books</h2>

<div id="books">
  <div class="book">
    <h3>Patterns of Enterprise Application Architecture</h3>
    <p>by <strong>Martin Fowler</strong></p>
  </div>

  <div class="book">
    <h3>Test Driven Development</h3>
    <p>by <strong>Kent Beck</strong></p>
  </div>

  <table>
    <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>author</th>
    </tr>

    </thead>
    <tbody>
    <% books.each do |b| %>
        <tr>
          <td><%= b.id %></td>
          <td><%= b.title %></td>
          <td><%= b.author %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>